body {
	width:100%;
	height:100%;

	background-size:100vw 100vh;
	background-image: url("img/believe_it_or_not.png");
	background-repeat: no-repeat;
	margin:0;

}

#mobile {
	display:none;
}

#ipad {
	padding:30px;
	top:25%;
	font-family: "Stanley", Times, serif;
	font-size: 80px;
	color:white;
	-webkit-filter: drop-shadow(0px 0px 3px #222);
	display:block;
	font-style: italic;
	text-align: center;
	vertical-align: text-center;
	line-height: 100%;
	position:absolute;
	background:transparent;
}

@font-face {
    font-family: "Stanley";
    font-style: italic;
    font-weight:normal;
    src: url('fonts/stanley/stanley-regularitalic-webfont.ttf');
}





#index {
	display:none;
}

.chapter_big_title {
display:none;


}


#contents_bar {
   display:none;
}

.dropdown {
   display:none;
	

}

/*.dropdown:hover {
	width:300px;
	 -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari 
    transition: width 2s, height 2s, background-size 2s, transform 2s;
}
*/


.dropdown > img {
    display:none;

}

/* .dropdown > img:hover {
    width:300px;

}
*/

.dropdown-content {
  display:none;
}



.chapter_menu_link {
display:none;
}

#horse_icon {
	display:none;
}



#file_icon {
	display:none;
}


#earth_icon {
	display:none;
}



#andy_icon {
	display:none;
}



#green_screen_icon {
	display:none;
}



#bigfoot_icon {
	display:none;
}



#massage_icon {
	display:none;
}



#conclusion_icon {
	display:none;
}



#hoax_index {
display:none;
}



#hoax_index_vertical_title {

	display:none;

}

.hoax_index_small_text {
	display:none;

}



#abstract_and_small_chapter_button {
	display:none;
}



.anotheroverlay {
	display:none;
}



.popup {
display:none;
 
}




#print_icon_1 {
display:none;
}


#print_icon_2 {
display:none;
}


#info_icon {
display:none;

}

.info_icon_content {
display:none;


}

#info_icon:hover .info_icon_content {
display:none;

}

#running_text {
display:none;
}


#one {
	display:none;
}



#chapter_transition {
display:none;
}

#main_chapter_text {
display:none;
}



.main_chapter_text_italic {
	display:none;
}


.quote {
display:none;
 

}

#main_chapter_img {
display:none;
	
}

.main_chapter_img_caption {
display:none;
}


.main_chapter_img_class {
display:none;

}



#thanks_stuff {
display:none;
	
}

.thank_you {
	
display:none;
}

.footnote {
display:none;
}




.chapter_big_image {
display:none;
	
}

#one {
display:none;
}

#three {
display:none;
}

#four {
display:none;
}

#five {
display:none;
}

#six {
display:none;
}

#seven {
display:none;
}


#two {
display:none;
}



canvas {
display:none;
}



 #intro_animated_pik {
display:none;

}

#big_fancy_text {
display:none;

}

.hoax_footnote {
display:none;

}

.hoax_footnote_index {
display:none;

}

.list {
	
display:none;
 
}