
body, html {
	margin: 0;
    height: 100%;
    width:100%;
	font-family: "Circular", Helvetica, serif;
}








/*
.toolgroup,.toolgroup li ul { 
	padding:0px; 
	list-style:none; 
	width:150px; 
	border:1px solid #000;  

}

.toolgroup li,.toolgroup li ul li { 
	width:100%; 
	position:relative; 
	-webkit-filter: drop-shadow(0px 0px 3px #222); 
}

.toolgroup li a,.toolgroup li ul li a { 
	padding:7px 10px; 
	display:block; 
}

.toolgroup li ul { 
	display:none; 
	position:absolute; 
	left:150px; 
	background-color: yellow;
	top:0px; 
}

.toolgroup li:hover ul { 
	display:block; 
}

#navbar {

}

.sidebar {
	width:100px;
	-webkit-filter: drop-shadow(0px 0px 3px #222);
    filter: drop-shadow(0px 0px 3px #222);
}

*/










a {
	color: white;
    text-decoration: none;
}

#index {
	width:100%;
	height:100%;
	margin:0; 
	padding:0;
	background-image: url("img/index_bg.jpg");
	box-shadow: 0px 0px 300px 200px #0000FF;
}

.chapter_big_title {

	font-family: "Stanley", Times, serif;
	font-size: 130px;
	font-style: italic;
	text-align: center;
	vertical-align: text-center;
	line-height: 100%;


}


#contents_bar {
    position:fixed;
    bottom:15px;
    left:10px;
    display: table;
<<<<<<< HEAD
    height:90%;
=======
>>>>>>> 09be6a27c94524bf2be1c159f6bfae8208af3e0f
}

.dropdown {
    display: table-row;
    text-align: center;
    -webkit-filter: drop-shadow(0px 0px 2px #222);
	

}

<<<<<<< HEAD
/*.dropdown:hover {
	width:300px;
	 -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari 
    transition: width 2s, height 2s, background-size 2s, transform 2s;
}
*/


.dropdown > img {
    display: table-cell;

}

/* .dropdown > img:hover {
    width:300px;

}
*/
=======
.dropdown > img {
    display: table-cell;
}
.dropdown-content {
    visibility: hidden;
    display: table-cell;
    vertical-align: middle;
>>>>>>> 09be6a27c94524bf2be1c159f6bfae8208af3e0f

.dropdown-content {
    display: table-cell;
    vertical-align: middle;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.2s linear;
}

.dropdown:hover .dropdown-content {
<<<<<<< HEAD
	visibility:visible;
     opacity:1;
=======
    visibility: visible;
>>>>>>> 09be6a27c94524bf2be1c159f6bfae8208af3e0f

}


.chapter_menu_link {

    text-align: center;
    font-size: 24px;
    font-family: "Stanley", Times, serif;
	font-style: italic;
}

#horse_icon {
	width: 120px;
    height: 77px;
    background-image: url("img/chapters_icons/chapter_001.png");
	background-repeat: no-repeat;
    background-size: 120px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#horse_icon:hover {
	
	width:140px;
	background-size: 140px;
	height: 90px;
	
}

#file_icon {
	width: 45px;
	height:59px;
    background-image: url("img/chapters_icons/chapter_002.png");
	background-repeat: no-repeat;
    background-size: 45px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#file_icon:hover {
	
	width:55px;
	height:72px;
	background-size: 55px;
}

#earth_icon {
	width: 60px;
	height:60px;
    background-image: url("img/chapters_icons/chapter_001_1.png");
	background-repeat: no-repeat;
    background-size: 60px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#earth_icon:hover {
	
	width:70px;
	height:70px;
	background-size: 70px;
}

#andy_icon {
	width: 60px;
	height:75px;
    background-image: url("img/chapters_icons/chapter_002_2.png");
	background-repeat: no-repeat;
    background-size: 60px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#andy_icon:hover {
	
	width:70px;
	height:87px;
	background-size: 70px;
}

#green_screen_icon {
	width: 60px;
	height:60px;
    background-image: url("img/chapters_icons/chapter_003.png");
	background-repeat: no-repeat;
    background-size: 60px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#green_screen_icon:hover {
	
	width:70px;
	height:70px;
	background-size: 70px;
}

#bigfoot_icon {
	width: 80px;
	height:52px;
    background-image: url("img/chapters_icons/chapter_004.png");
	background-repeat: no-repeat;
    background-size: 80px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#bigfoot_icon:hover {
	
	width:90px;
	height:58px;
	background-size: 90px;
}

#massage_icon {
	width: 80px;
	height:55px;
    background-image: url("img/chapters_icons/chapter_005.png");
	background-repeat: no-repeat;
    background-size: 80px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#massage_icon:hover {
	
	width:90px;
	height:62px;
	background-size: 90px;
}

#conclusion_icon {
	width: 60px;
	height:62px;
    background-image: url("img/chapters_icons/conclusion.png");
	background-repeat: no-repeat;
    background-size: 60px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#conclusion_icon:hover {
	
	width:70px;
	height:73px;
	background-size: 70px;
}

#hoax_index {
	position:fixed;
	right:10px;
	top:0px;
    width: 50px;
    height: 100%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/
    -webkit-transition: width 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, transform 2s;
     z-index: 99999999999999999999999;
}

#hoax_index:hover {
    width: 600px;
}

#hoax_index_vertical_title {

	position:absolute;
	color: white;
	font-family: "Stanley", Times, serif;
	font-style: italic;
	font-size:24px;
    text-decoration: none;
    -webkit-transform: rotate(90deg);	
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	transform-origin: bottom left;
    width: 200px;
    height: 36px;
    margin-top: 10%;
    -webkit-filter: drop-shadow(0px 0px 3px #444);

}

.hoax_index_small_text {
	display: none;
	max-height:80%;
	overflow:auto;
	font-family: "Circular", Helvetica, serif;
	font-style: italic;
	font-size: 12px;
	width:280px;
	margin-top:10%;
    padding-right: 50px;
    padding-left: 300px;

}


#hoax_index:hover .hoax_index_small_text {
    display:block;
}

#hoax_index:hover .hoax_index_images {
    display:block;
}

#abstract_and_small_chapter_button {
	font-family: "Circular", Helvetica, serif;
	font-size: 36px;
	text-align:center;
	color:white;
	-webkit-filter: drop-shadow(0px 0px 2px #222);
}

.anotheroverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 98;
}

.anotheroverlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 9999999999;
  overflow:scroll;
  background-image: url("img/index_bg.jpg");
  /* transition: all 5s ease-in-out; */
}

.popup {
  margin: 3% auto;
  padding: 40px;
  background: white;
  width: 35%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 100;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
 
}


.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 25px;
  font-weight: medium;
  text-decoration: none;
  color: black;
  z-index: 105;
}

.popup .close:hover {
  text-decoration: underline;
}
.popup .content {
  max-height: 600px;
  overflow: auto;
  font-family: "Circular", helvetica, arial, sans-serif;
  font-size: 18px;

}

#print_icon_1 {
	top:20px;
	position:fixed;
	right:190px;
	width: 60px;
    height: 60px;
	background-image: url("img/desktop_icons/printer.png");
	background-repeat: no-repeat;
    background-size: 60px;
    -webkit-filter: drop-shadow(0px 0px 2px #222);
      z-index: 8888888;
}

#print_icon_1:hover {
	
	background-image: url("img/desktop_icons/trollface_printer.png");
	
}

#print_icon_2 {
	top:20px;
	position:fixed;
	right:100px;
	width: 60px;
    height: 60px;
    background-image: url("img/desktop_icons/printer.png");
	background-repeat: no-repeat;
    background-size: 60px;
	 z-index: 8888888;
    -webkit-filter: drop-shadow(0px 0px 2px #222);
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#print_icon_2:hover {
	
	width:70px;
	background-size: 70px;
	height: 70px;
	
}

#info_icon {
	position:fixed;
	right:100px;
	bottom:30px;
    width:60px;
    height:60px;
    background-image: url("img/desktop_icons/info_icon.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(0px 0px 2px #222);
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;

}

#info_icon:hover {

	width: 300px;
    height: 300px;
    background-size: 300px 300px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);

}

.info_icon_content {

display: none;
font-family: "Circular", Helvetica, serif;
font-style: italic;
font-size: 24px;
width:300px;


}

#info_icon:hover .info_icon_content {
	display:block;
	-webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);

}

#running_text {
	top:20px;
	width:400px;
	position:fixed;
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  /* IE6,IE7 */
	ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
	-moz-transform: rotate(-180deg);  /* FF3.5+ */
	-o-transform: rotate(-180deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
}


#one {
	margin-top:300px;
}



#chapter_transition {
	width:100%;
	height:300px;
	background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,0,0,1),rgba(255,0,0,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(0,0,255,1),rgba(0,0,255,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(0,0,255,1),rgba(0,0,255,0)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(0,0,255,1), rgba(0,0,255,0)); /*Standard*/
}

#main_chapter_text {

	font-family: "Circular", Helvetica, serif;
	font-size: 18px;
	width:600px;
	margin:0 auto;
	padding:20px;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 1px 0 50px -20px black, 0 -9px 0px 0px white, 1px 0 50px -20px black;

}

.main_chapter_text_italic {
	font-family: "Stanley", Times, serif;
	font-style: italic;
	font-size: 18px;
}


.quote {
	font-family: "Stanley", Times, serif;
	font-style: italic;
	font-size: 24px;
	border: 1px solid black;
    padding: 12px;
    width:700px;
    text-align:right;
    line-height:24px;
    float: right;
    background:white;
 

}

#thanks_stuff {
	width:100%;
	height:100%;
}

.thank_you {
	
	font-family: "Circular", Helvetica, serif;
	font-size: 130px;
	text-align:center;
	color:white;
	-webkit-filter: drop-shadow(0px 0px 2px #222);
}

.footnote {
	position: relative;
    display: inline-block;
    font-family: "Stanley", Times, serif;
	font-style: italic;
	vertical-align: super;
	font-size: 50%;
	font-weight:bold;
	color:blue;
}

.footnote-content-image {
    display: none;
    position: absolute;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
    padding: 12px 16px;

}

.footnote-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid blue;
    padding: 12px;
    font-family: "Circular", Helvetica, serif;
    font-size: 14px;
    font-weight:normal;
    font-style:normal;
    z-index:1000000;
    text-align:justify;
    line-height:14px;
}

.footnote:hover .footnote-content {
    display: block;
}

.footnote:hover .footnote-content-image {
    display: block;
}

.chapter_big_image {
	width:100%;
	height:100%;
	position:absolute;
	
}

#one {
	padding-top:100px;
    background: url("img/chapter_001/chimpanzee_001.gif");
    background-size: 100%;

    background-repeat: no-repeat;
}

#three {
	padding-top:100px;
    background: url("img/chapter_001_1/science.gif");
    background-size: 100%;

    background-repeat: no-repeat;
}

#four {
	padding-top:100px;
    background: url("img/chapter_002_2/jester_top.gif");
    background-size: 100%;

    background-repeat: no-repeat;
}

#five {
	padding-top:100px;
    background: url("img/chapter_003/agloe_002.gif");
    background-size: 100%;

    background-repeat: no-repeat;
}

#six {
	padding-top:100px;
    background: url("img/chapter_004/surgeon.gif");
    background-size: 100%;

    background-repeat: no-repeat;
}

#seven {
	padding-top:100px;
    background: url("img/chapter_005/great_moon_hoax.gif");
    background-size: 100%;

    background-repeat: no-repeat;
}
